<%% title t('list_<%= plural_name %>') %>

<%%= render :partial => 'searchmask' %>

<div id="items">
	<%%= render :partial => '<%= singular_name%>_list' %>
</div>
<%%- if action? :new -%>
<%% admin_area do %>
	<%%= link_to t('new_<%= singular_name%>'), new_<%= singular_name %>_path %>
<%% end %>
<%%- end -%>